In [1]:
# Importing pandas with alice Name pd
import pandas as pd

order_data = pd.read_excel(r"D:\pandas_learing\IPL_Project\Sample - Superstore.xls",sheet_name ="Orders")
order_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,IInd Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,IInd Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,IInd Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [2]:
return_data = pd.read_excel(r"D:\pandas_learing\IPL_Project\Sample - Superstore.xls",sheet_name ="Returns")
return_data.head()

  Returned        Order ID
0      Yes  CA-2017-153822
1      Yes  CA-2017-129707
2      Yes  CA-2014-152345
3      Yes  CA-2015-156440
4      Yes  US-2017-155999

In [3]:
return_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  296 non-null    object
 1   Order ID  296 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB

In [4]:
merge_data = pd.merge(return_data,order_data,on="Order ID",how="left")
merge_data.head()

,Returned,Order ID,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Yes,CA-2017-153822,6971,2017-09-19,2017-09-25,Standard Class,AB-10105,Adrian Barton,Consumer,United States,...,85023,West,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
1,Yes,CA-2017-153822,6972,2017-09-19,2017-09-25,Standard Class,AB-10105,Adrian Barton,Consumer,United States,...,85023,West,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive,89.584,2,0.2,4.4792
2,Yes,CA-2017-153822,6973,2017-09-19,2017-09-25,Standard Class,AB-10105,Adrian Barton,Consumer,United States,...,85023,West,TEC-PH-10002415,Technology,Phones,Polycom VoiceStation 500 ConferenceÂ phone,471.920,2,0.2,29.4950
3,Yes,CA-2017-153822,6974,2017-09-19,2017-09-25,Standard Class,AB-10105,Adrian Barton,Consumer,United States,...,85023,West,OFF-BI-10001460,Office Supplies,Binders,Plastic Binding Combs,18.180,4,0.7,-13.9380
4,Yes,CA-2017-129707,5434,2017-04-25,2017-04-29,Standard Class,LH-16750,Larry Hughes,Consumer,United States,...,85224,West,OFF-AR-10000246,Office Supplies,Art,Newell 318,8.896,4,0.2,0.6672

In [5]:
merge_data_customer_list = merge_data["Customer Name"].drop_duplicates().reset_index()
#merge_data_customer_list = merge_data_customer_list.drop("index")
merge_data_customer_list.head(10)

   index    Customer Name
0      0    Adrian Barton
1      4     Larry Hughes
2      5         Shui Tom
3      7  Matt Hagelstein
4      8       Jay Kimmel
5     10   Helen Andreada
6     12     Greg Guthrie
7     18    Ionia McGrath
8     19    Cynthia Voltz
9     21   Michael Nguyen

In [6]:
merge_data.tail()

,Returned,Order ID,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
795,Yes,CA-2016-105585,993,2016-08-26,2016-08-27,First Class,RF-19735,Roland Fjeld,Consumer,United States,...,95123,West,OFF-FA-10002983,Office Supplies,Fasteners,Advantus SlideClip Paper Clips,10.230,3,0.0,4.9104
796,Yes,CA-2016-105585,994,2016-08-26,2016-08-27,First Class,RF-19735,Roland Fjeld,Consumer,United States,...,95123,West,OFF-PA-10003625,Office Supplies,Paper,Xerox 1979,154.900,5,0.0,69.7050
797,Yes,CA-2016-148796,418,2016-04-14,2016-04-18,Standard Class,PB-19150,Philip Brown,Consumer,United States,...,90004,West,FUR-CH-10004886,Furniture,Chairs,Bevis Steel Folding Chairs,383.800,5,0.2,38.3800
798,Yes,CA-2015-149636,7717,2015-01-06,2015-01-12,Standard Class,SP-20620,Stefania Perrino,Corporate,United States,...,80906,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,5,0.2,9.2500
799,Yes,CA-2015-149636,7718,2015-01-06,2015-01-12,Standard Class,SP-20620,Stefania Perrino,Corporate,United States,...,80906,West,OFF-BI-10002764,Office Supplies,Binders,Recycled Pressboard Report Cover with Reinforc...,1.938,2,0.7,-1.3566

In [7]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Returned       800 non-null    object
 1   Order ID       800 non-null    object
 2   Row ID         800 non-null    int64
 3   Order Date     800 non-null    datetime64[ns]
 4   Ship Date      800 non-null    datetime64[ns]
 5   Ship Mode      800 non-null    object
 6   Customer ID    800 non-null    object
 7   Customer Name  800 non-null    object
 8   Segment        800 non-null    object
 9   Country        800 non-null    object
 10  City           800 non-null    object
 11  State          800 non-null    object
 12  Postal Code    800 non-null    int64
 13  Region         800 non-null    object
 14  Product ID     800 non-null    object
 15  Category       800 non-null    object
 16  Sub-Category   800 non-null    object
 17  Product Name   800 non-null    object
 18  Sales          800 non-null    float64
 19  Quantity       800 non-null    int64
 20  Discount       800 non-null    float64
 21  Profit         800 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(14)
memory usage: 137.6+ KB

In [8]:
grouping = merge_data.groupby("Region")["Sales"].sum()
grouping.head()

Region
Central     14006.9794
East        41705.1440
South       17309.0970
West       107483.0575
Name: Sales, dtype: float64

In [9]:
segment = merge_data.groupby("Segment")["Sales"].sum()
segment.head()

Segment
Consumer       105385.2523
Corporate       51912.0436
Home Office     23206.9820
Name: Sales, dtype: float64

In [10]:
seg_region  = merge_data.groupby(["Region","Segment"])["Sales"].sum().reset_index()
print(seg_region)

     Region      Segment       Sales
0   Central     Consumer   8230.5248
1   Central    Corporate   3627.4456
2   Central  Home Office   2149.0090
3      East     Consumer  27227.8800
4      East    Corporate  10317.9950
5      East  Home Office   4159.2690
6     South     Consumer   8473.5410
7     South    Corporate   7128.2160
8     South  Home Office   1707.3400
9      West     Consumer  61453.3065
10     West    Corporate  30838.3870
11     West  Home Office  15191.3640

In [11]:
merge_data.tail()

,Returned,Order ID,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
795,Yes,CA-2016-105585,993,2016-08-26,2016-08-27,First Class,RF-19735,Roland Fjeld,Consumer,United States,...,95123,West,OFF-FA-10002983,Office Supplies,Fasteners,Advantus SlideClip Paper Clips,10.230,3,0.0,4.9104
796,Yes,CA-2016-105585,994,2016-08-26,2016-08-27,First Class,RF-19735,Roland Fjeld,Consumer,United States,...,95123,West,OFF-PA-10003625,Office Supplies,Paper,Xerox 1979,154.900,5,0.0,69.7050
797,Yes,CA-2016-148796,418,2016-04-14,2016-04-18,Standard Class,PB-19150,Philip Brown,Consumer,United States,...,90004,West,FUR-CH-10004886,Furniture,Chairs,Bevis Steel Folding Chairs,383.800,5,0.2,38.3800
798,Yes,CA-2015-149636,7717,2015-01-06,2015-01-12,Standard Class,SP-20620,Stefania Perrino,Corporate,United States,...,80906,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,5,0.2,9.2500
799,Yes,CA-2015-149636,7718,2015-01-06,2015-01-12,Standard Class,SP-20620,Stefania Perrino,Corporate,United States,...,80906,West,OFF-BI-10002764,Office Supplies,Binders,Recycled Pressboard Report Cover with Reinforc...,1.938,2,0.7,-1.3566

In [13]:
date_wish  = merge_data.groupby(["Order Date","Segment"])["Sales"].sum().reset_index()
print(date_wish)

    Order Date      Segment      Sales
0   2014-01-20     Consumer    38.6600
1   2014-02-23  Home Office    11.3640
2   2014-03-17    Corporate   103.5000
3   2014-03-18  Home Office  1198.3300
4   2014-04-06    Corporate   199.9900
..         ...          ...        ...
280 2017-12-22     Consumer  1090.3480
281 2017-12-25     Consumer   160.1620
282 2017-12-28     Consumer   106.0208
283 2017-12-29     Consumer    88.0600
284 2017-12-30    Corporate    34.6240

[285 rows x 3 columns]